#!/usr/bin/env bash

function mkd() {
  mkdir -p "$@" && cd "$_";
}

function tre() {
  tree -aC -I '.git|node_modules' --dirsfirst "$@"
}

function gg() {
  git checkout --track $(git branch -r | fzf)
}
