[user]
  name =
  email =
[includeIf "gitdir:~/Workspace/fs/"]
  path = ~/.config/git/.gitconfig-fs
[includeIf "gitdir:~/Workspace/monkeyeveryday/"]
  path = ~/.config/git/.gitconfig-monkeyeveryday
[includeIf "gitdir:~/Workspace/cleverse/"]
  path = ~/.config/git/.gitconfig-cleverse
[core]
  editor = nvim
  excludesfile = ~/.config/git/.gitignore
[credential "https://github.com"]
  helper = !gh auth git-credential
  useHttpPath = true
[init]
  defaultBranch = main
[pull]
  ff = only
